/*body {
  background: -webkit-linear-gradient(hotpink, black); 
  background: -o-linear-gradient(hotpink, black);
  background: -moz-linear-gradient(hotpink, black); 
  background: linear-gradient(hotpink, black);
} */
/* You're safe. For now. */

body {
  font-family: 'Roboto', sans-serif;
}

div {
  /*border: 1px solid black;  More test css */
}

nav ul, nav ul li {
  padding: 0;
  display: inline;
}

nav a {
  padding-right: 20px;
  text-decoration: inherit;
}

div.video-container {
  text-align: left;
  width: 640px;
  margin: 0 auto;
}

.video-container a {
  text-decoration: inherit;
}

.title {
  font-size: 24px;
}

.preformatted {
  white-space: pre-wrap;
  text-align: left;
  padding: 20px 0;
}

.right-align {
  text-align: right;
}

.form-row {
  padding: 6px 0px;
}